/* -- FONTS -- */
@import 'https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Oswald:wght@200..700&display=swap';
/* -- RESET -- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: oswald, sans-serif;
}

/* -- HOMBURGER MENU CON ANIMAZIONE -- */
.tracking-in-contract {
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.bounce-in-bottom {
  animation: bounce-in-bottom 1s both;
}

.slide-in-bottom {
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@keyframes tracking-in-contract {
  0% {
    opacity: 0;
    letter-spacing: 1em;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    letter-spacing: normal;
  }
}
@keyframes tracking-in-contract {
  0% {
    opacity: 0;
    letter-spacing: 1em;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    letter-spacing: normal;
  }
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@keyframes tracking-in-expand {
  0% {
    opacity: 0;
    letter-spacing: -0.5em;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    opacity: 0;
    letter-spacing: -0.5em;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation bounce-in-bottom
 * ----------------------------------------
 */
@keyframes bounce-in-bottom {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-bottom {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.border-b-y {
  border-bottom: 3px solid #FFC800;
}

.border-b-g {
  border-bottom: 3px solid #6FC46B;
}

header .burger-icon {
  z-index: 99;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
header .burger-icon span,
header .burger-icon span::before,
header .burger-icon span::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 4px;
  margin-top: 13px;
  transition: 0.3s ease-in-out 0.3s;
  border-radius: 2px;
  background: #000;
}
header .burger-icon span::before {
  margin-top: -12px;
  transition: 0.3s ease-in-out;
}
header .burger-icon span::after {
  margin-top: 12px;
  transition: 0.3s ease-in-out;
}
header .burger-icon.active span,
header .burger-icon.active span::before,
header .burger-icon.active span::after {
  background: #FFF;
}
header .burger-icon.active span {
  transform: rotate(-90deg);
  transition: 0.5s ease-in-out;
  background: transparent;
}
header .burger-icon.active span::before {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0.5s;
}
header .burger-icon.active span::after {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0.5s;
}
header .menu-overlay {
  display: flex;
  position: fixed;
  z-index: 9;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 100dvh;
  margin-top: -100dvh;
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
  inset: 0;
}
header.menu-on .menu-overlay {
  margin-top: 0;
}
header .primary-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
  color: #FFF;
  font-size: 24px;
}
header .primary-nav ul li {
  transition: all 0.5s ease-in-out;
}
header .primary-nav ul li:hover {
  transform: scale(1.3);
}
header .primary-nav ul li a {
  color: #FFF;
  text-decoration: none;
}
header .primary-nav ul li a:active {
  color: hotpink;
}

/* -- STILI HOMEPAGE -- */
html {
  scroll-behavior: smooth;
}

.body-block {
  height: 100vh;
  overflow-y: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 16px 40px;
  background-color: rgba(255, 255, 255, 0.6235294118);
}
header.fixed-header {
  position: fixed;
  z-index: 999999;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4392156863);
}
header .logo {
  max-width: 300px;
}
header .logo img {
  max-width: 100%;
  max-height: 60px;
}

.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  max-height: 600px;
  padding: 40px;
  overflow: hidden;
  transition: all 0.4s ease-in;
  background-image: url("/media/hip-hop-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
}
.hero h1 {
  width: fit-content;
  padding: 0 16px;
  border-left: 3px solid #FFC800;
  background: rgba(0, 0, 0, 0.5882352941);
  background-color: rgba(0, 0, 0, 0.3333333333);
  color: #FFF;
  font-size: 36px;
}
@media screen and (width < 768px) {
  .hero h1 {
    font-size: 24px;
  }
}
@media screen and (width > 768px) {
  .hero div.arrow {
    display: none;
  }
}
.hero.open {
  margin-bottom: 0;
  transition: all 0.4s ease-in;
}
@media screen and (width < 768px) {
  .hero.open div.arrow {
    display: block;
  }
  .hero.open div.arrow img {
    transform: rotate(0deg);
    transition: all 0.4s ease-in;
  }
  .hero.open .hero-info {
    margin-bottom: 0;
    transition: all 0.4s ease-in;
  }
}
@media screen and (width < 768px) {
  .hero div.arrow {
    height: 40px;
  }
  .hero div.arrow img {
    transform: rotate(180deg);
  }
  .hero .hero-info {
    margin-bottom: -205px;
    transition: all 0.4s ease-in;
  }
}
.hero .hero-info {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 16px 32px;
  background-color: rgba(0, 0, 0, 0.3333333333);
  color: #FFF;
}
.hero .hero-info div {
  flex-grow: 1;
  text-align: center;
}
@media screen and (width >= 769px) {
  .hero .hero-info div:nth-child(3) {
    border-inline: 3px solid #FF6E1A;
  }
}
@media screen and (width <= 768px) {
  .hero .hero-info {
    flex-direction: column;
    row-gap: 12px;
  }
  .hero .hero-info div:nth-child(3) {
    padding-inline: 20px;
    border-block: 1px solid #FF6E1A;
  }
}

.corsi {
  padding: 120px 0;
}
.corsi .grid {
  display: grid;
  align-items: start;
  gap: 80px 20px;
  margin: 0 auto;
}
@media screen and (width >= 1200px) {
  .corsi .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    width: 80%;
  }
  .corsi .second-grid {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    width: 80%;
  }
}
@media screen and (768px < width < 1200px) {
  .corsi .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 90%;
  }
  .corsi .second-grid {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    width: 90%;
  }
}
@media screen and (width <= 768px) {
  .corsi .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    align-items: end;
    width: 92%;
  }
  .corsi .second-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 92%;
  }
}
.corsi .second-grid {
  display: grid;
  align-items: end;
  gap: 80px;
  margin: 0 auto;
  margin-top: 80px;
}
.corsi .second-grid img {
  display: block;
  margin: 0 auto;
}
.corsi .single-corso img,
.corsi .insegnante img {
  max-width: 100%;
}
.corsi .single-corso h3,
.corsi .insegnante h3 {
  font-size: 24px;
  text-align: center;
}
@media screen and (width < 576px) {
  .corsi .single-corso h3,
  .corsi .insegnante h3 {
    font-size: 16px;
  }
}
.corsi .descrizione-fondo {
  margin: 80px auto;
}
@media screen and (width >= 1200px) {
  .corsi .descrizione-fondo {
    width: 80%;
  }
}
@media screen and (768px < width < 1200px) {
  .corsi .descrizione-fondo {
    width: 90%;
  }
}
@media screen and (width <= 768px) {
  .corsi .descrizione-fondo {
    width: 92%;
  }
}

.insegnanti {
  padding: 120px 0;
}
.insegnanti .grid {
  display: grid;
  align-items: start;
  gap: 80px;
  margin: 0 auto;
}
@media screen and (width >= 1200px) {
  .insegnanti .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    width: 80%;
  }
  .insegnanti .second-grid {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    width: 80%;
  }
}
@media screen and (768px < width < 1200px) {
  .insegnanti .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 90%;
  }
  .insegnanti .second-grid {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    width: 90%;
  }
}
@media screen and (width <= 768px) {
  .insegnanti .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 80px 24px;
    width: 92%;
  }
  .insegnanti .second-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 92%;
  }
}
.insegnanti .second-grid {
  display: grid;
  align-items: end;
  gap: 80px;
  margin: 0 auto;
  margin-top: 80px;
}
.insegnanti .second-grid img {
  display: block;
  margin: 0 auto;
}
.insegnanti .single-corso img,
.insegnanti .insegnante img {
  max-width: 100%;
}
.insegnanti .single-corso h3,
.insegnanti .insegnante h3 {
  font-size: 24px;
  text-align: center;
}
@media screen and (width < 576px) {
  .insegnanti .single-corso h3,
  .insegnanti .insegnante h3 {
    font-size: 16px;
  }
}
.insegnanti .descrizione-fondo {
  margin: 80px auto;
}
@media screen and (width >= 1200px) {
  .insegnanti .descrizione-fondo {
    width: 80%;
  }
}
@media screen and (768px < width < 1200px) {
  .insegnanti .descrizione-fondo {
    width: 90%;
  }
}
@media screen and (width <= 768px) {
  .insegnanti .descrizione-fondo {
    width: 92%;
  }
}

.description .intro {
  font-family: "Mr Dafoe", serif;
  font-size: 24px;
  line-height: 16px;
  text-align: left;
}
.description h2 {
  width: fit-content;
  margin-bottom: 16px;
  font-size: 32px;
}
@media screen and (width < 576px) {
  .description h2 {
    font-size: 28px;
  }
}

section.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 160px;
  background-color: #E5E5E5;
}
section.logos img {
  max-height: 100px;
  mix-blend-mode: multiply;
}
@media screen and (width < 768px) {
  section.logos img {
    max-height: 60px;
  }
}
@media screen and (768px < width < 1200px) {
  section.logos img {
    max-height: 80px;
  }
}

.map {
  filter: grayscale(100%);
}

section.contatti {
  position: relative;
  background-image: url("/media/hip-hop-bg.jpg");
  background-position: center;
  background-size: cover;
  padding-block: 120px;
  filter: grayscale(100%);
}
section.contatti .container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  margin-inline: auto;
  padding-block: 60px;
  backdrop-filter: blur(10px);
}
@media screen and (width >= 1200px) {
  section.contatti .container {
    width: 80%;
  }
}
@media screen and (768px < width < 1200px) {
  section.contatti .container {
    width: 90%;
  }
}
@media screen and (width <= 768px) {
  section.contatti .container {
    flex-direction: column;
    gap: 32px;
    width: 70%;
  }
}
section.contatti .container .icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: #FFF;
  text-align: center;
}
section.contatti .container .icon-box .icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-shadow: inset -4px -8px 15px -3px rgba(0, 0, 0, 0.3019607843), -2px -2px 10px -3px rgba(255, 255, 255, 0.3764705882), 0 10px 15px -3px rgba(0, 0, 0, 0.5019607843);
  text-align: center;
}
section.contatti .container .icon-box .icon .fa {
  line-height: 72px;
}

footer {
  min-height: 80px;
  padding: 16px;
  background-color: #000;
  color: #adadad;
  font-weight: 200;
}

/*# sourceMappingURL=style.css.map */
